@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body,
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.services {
  scrollbar-width: none;
}
.services::-webkit-scrollbar {
  display: none;
}
.service_image_container {
  width: 100%;
}
.service_image_container div {
  position: unset !important;
}
.service_image_container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

#services li {
  list-style-type: square;
}
#services li::marker {
  color: #f25764;
  font-size: 1.5rem;
}

#our-values {
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}
@media only screen and (max-width: 600px) {
  #our-values {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* Radio Button */
.custom-radio-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #12355b;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: background-color 0.2s;
}

input[type="radio"]:checked + .checkmark::after,
input[type="checkbox"]:checked + .checkmark::after {
  content: "✓"; /* Display a checkmark using pseudo-element ::after */
  font-size: 16px; /* Adjust the size of the checkmark */
}

/* svg {
  width: inherit !important;
  height: inherit !important;
} */
