@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body,
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.service_hero {
  background-image: linear-gradient(
      89.5deg,
      #ffffff 19.46%,
      rgba(255, 255, 255, 0.668713) 42.72%,
      rgba(255, 255, 255, 0) 59.61%
    ),
    url("/assets/images/services-hero.svg");
}
@media only screen and (max-width: 1028px) {
  .service_hero {
    background-image: linear-gradient(
        89.5deg,
        #ffffffcd 19.46%,
        rgba(245, 242, 242, 0.599) 100%
      ),
      url("/assets/images/services-hero.svg");
  }
}

.services {
  scrollbar-width: none;
}
.services::-webkit-scrollbar {
  display: none;
}
.service_image_container {
  width: 100%;
}
.service_image_container div {
  position: unset !important;
}
.service_image_container .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

#services li {
  list-style-type: square;
}
#services li::marker {
  color: #f25764;
  font-size: 1.5rem;
}

#our-values {
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
}
@media only screen and (max-width: 600px) {
  #our-values {
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* Radio Button */
.custom-radio-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #12355b;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: background-color 0.2s;
}

input[type="radio"]:checked + .checkmark::after,
input[type="checkbox"]:checked + .checkmark::after {
  content: "✓"; /* Display a checkmark using pseudo-element ::after */
  font-size: 16px; /* Adjust the size of the checkmark */
}

/* popup blur background */
.active-modal {
  overflow: hidden;
  height: 100vh;
}
.box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  visibility: hidden;
}

.box-modal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  opacity: 0;
  transition: opacity 1.3s;
}

.box-modal .body-modal {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
}

.box-modal .body-modal {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
}

.box-modal.modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 0.9s;
}

.box-modal.modal-show .overlay {
  opacity: 0.7;
  transition: opacity 1.3s;
}

.box-modal.modal-show .body-modal {
  height: 409px;
  width: 566px;
  max-height: 1000px;
  opacity: 1;
  transition: 0.3s opacity 0.6s;
}

/* Terms and Conditions */
#terms_of_service h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
#terms_of_service h2:first-child {
  margin-top: 0;
}
#terms_of_service p {
  line-height: 2.1rem;
}
#terms_of_service h3 {
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 600;
}
#terms_of_service h4 {
  margin: 1rem 0;
  font-weight: 500;
}
#terms_of_service ul {
  margin: 1rem 0;
}
#terms_of_service ul li {
  font-size: 0.95rem;
  list-style-type: disc;
  margin-left: 2rem;
  line-height: 1.9rem;
}
#terms_of_service a {
  color: #f25764;
  text-decoration: underline;
  font-weight: 500;
}
